@model IEnumerable<Country>

@{
    ViewData["Title"] = "Index";
}

<h1>Countries</h1>


<p>
    <a class="btn btn-secondary" asp-action="Create">Create New</a>
</p>


<div class="card-deck row d-flex justify-content-between align-items-start w-100 ">
    @foreach (var item in Model)
    {
        <div class="col-md-4 card m-3 w-25 ">
            <div class="card-header ">
                <h3>@item.Name </h3>
            </div>
            <div class="card-body">
                <img class="card-img-top" style="height: 150px " src="@item.MspUrl" asp-append-version="true" />
               
            </div>
            
            <div class="card-footer text-center ">
                <a asp-controller="Country" asp-action="Show" asp-route-Id="@item.Id" class="btn btn-warning m-1">View</a>
                <a asp-controller="Country" asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-primary m-1">Edit</a>
                <a class="btn btn-danger m-1">Delete</a>
            </div>
        </div>
    }
</div>
